# Datasets
datasets/Deepfake-Eval-2024/audio-data/
datasets/Deepfake-Eval-2024/.cache/
datasets/in_the_wild_test/
datasets/la_test/fake/
datasets/la_test/real/

# Model weights
**/*.pth

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
.ipynb_checkpoints/
*.log

# OS
.DS_Store
Thumbs.db