# Datasets - ignore audio files but keep CSVs and structure
datasets/Deepfake-Eval-2024/audio-data/*
!datasets/Deepfake-Eval-2024/audio-data/.gitkeep

datasets/in_the_wild_test/*
!datasets/in_the_wild_test/.gitkeep
!datasets/in_the_wild_test/meta.csv

datasets/la_test/*
!datasets/la_test/meta.csv
!datasets/la_test/.gitkeep

datasets/validation_dataset/**
!datasets/validation_dataset/**/
!datasets/validation_dataset/**/*.csv
!datasets/validation_dataset/**/*.gitkeep


# Model weights
**/*.pth

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
.ipynb_checkpoints/
*.log

# OS
.DS_Store
Thumbs.db